# Python
__pycache__/
*.py[cod]
*.pyo
venv/
.env

# Node / Angular
node_modules/
dist/
.angular/

# Electron build
release/

# Uploads (не коммитим файлы пользователей)
backend/uploads/*
!backend/uploads/.gitkeep

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
